{% extends "soozhub_app/layout.html" %}

{% block body %}

<div class="container-fluid m-4">
    <h3>Input Form</h3>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form id="stockForm" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="stock_symbol">Enter Stock Symbol:</label><br>
                    <input type="text" id="stock_symbol" class="form-control" name="stock_symbol" placeholder="e.g., MSFT" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- Directly after the form, ensure these are within the same column -->
            <div id="loading" style="display: none;">
                <div class="spinner"></div>
            </div>

            <!-- Container where the AJAX response will be displayed -->
            <div id="response-container" class="mt-4">
                <!-- Dynamic content goes here after form submission -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
