{% extends "soozhub_app/layout.html" %}

{% block body %}

<div class="container-fluid ">
  <div class="row d-flex justify-center "style="display:flex;justify-content:center;align-items:center;">
    <div class="col-md-6">
      <container class="container">
  <div class="logo">
      <img src="Finicial_logo2.jpeg" alt="" >
  </div>
  <form method="post" action="{% url 'form_view' %}"style="display:flex;flex-direction:column;">
      <label for="" class="label" style="align-self: flex-start;">Select Stock Symbol:</label> <br>
      <select id="stock_symbol" class="form-select" aria-label="Default select example" name="stock_symbol" class="select">
          <option value="" class="option">Microsoft (MSFT)</option>
      </select><br>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary"style="width:25%;">Submit</button>
      </div>  </form>
        </div>
    </div>
</div>
<table class="table container col-md-6 m-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
